.table-custom{
    background-image: linear-gradient(145deg, rgba(2, 33, 65, 0.8) 50%, rgb(45, 95, 93, 0.85)), url("/images/admin/backgound/background8.jpg");
    background-size: cover;
    /*dieu chinh kich thuoc thay duoc toan bo buc anh */
    background-position: center;
    /* height: 100vh; */
    background-attachment: fixed;
    color:white;
}
