<!-- Footer -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-black footer" style="background-color: rgb(255, 254, 254)">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold footer-title">
                            Tên công ty
                        </h6>
                        <p class="footer-font-custom">
                            Công ty <Strong style="color: orangered">Cmobie</Strong> chuyên cung cấp các loại Smatphone
                            hiện đại uy tín trên thị trường<br>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold footer-title">Loại sản phẩm</h6>
                        <p>
                            <a class="text-black">Apple</a>
                        </p>
                        <p>
                            <a class="text-black">SamSung</a>
                        </p>
                        <p>
                            <a class="text-black">Oppo</a>
                        </p>
                        <p>
                            <a class="text-black">Xiaomi</a>
                        </p>
                        <p>
                            <a class="text-black">HuaWai</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold footer-title">
                            Useful links
                        </h6>
                        <p>
                            <a class="text-black">Giới thiệu công ty</a>
                        </p>
                        <p>
                            <a class="text-black">Khiếu nại, góp ý</a>
                        </p>
                        <p>
                            <a class="text-black">Tuyển dụng</a>
                        </p>
                        <p>
                            <a class="text-black">Giúp đỡ</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold footer-title">Contact</h6>
                        <p class="footer-font-custom"><i class="fas fa-home mr-3"></i> Nguyễn Văn Linh, Phường Hưng Lợi,
                            Quận Ninh Kiều, TP Cần Thơ</p>
                        <p class="footer-font-custom"><i class="fas fa-envelope mr-3"></i> chanhn1229@gmail.com</p>
                        <p class="footer-font-custom"><i class="fas fa-phone mr-3"></i> Gọi mua: 099999999</p>
                        <p class="footer-font-custom"><i class="fas fa-print mr-3"></i> Bảo hành: 011111111</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">
                            © 2022 Copyright

                        </div>
                        <!-- Copyright -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <!-- Facebook -->
                        <a class="btn btn-outline-dark btn-floating m-1" class="text-whites" role="button"><i
                                class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-outline-dark btn-floating m-1" class="text-white" role="button"><i
                                class="fab fa-twitter"></i></a>

                        <!-- Google -->
                        <a class="btn btn-outline-dark btn-floating m-1" class="text-white" role="button"><i
                                class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-outline-dark btn-floating m-1" class="text-white" role="button"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->